{% extends "base.html" %}

{% block app_content %}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">&gt;&gt; df -h</h4>
    </div>
    <div class="card-body">
        <pre id="df-info">Loading ...</pre>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>

<script type="text/javascript">
    $.get('/df/info/', {}, function(resp){
        $('#df-info').text(resp)
    });
</script>

{% endblock %}